h3, h5 {
  margin: 0;
}

.App-header {
  text-align: center;
}

.App-body {
  padding: 20px;
}

.new_counter {
  display: flex;
}

#new_counter {
  margin: 0 10px;
}

.counter {
  display: flex;
  margin-top: 10px;
}

.counter h5 {
  width: 200px;
}

.counter button {
  margin-left: 5px;
}